body{
    margin: 0;padding: 0; box-sizing: border-box; background-color: rgb(47, 46, 46);
    color:rgb(222, 224, 223);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
    border:2px solid green;
    height:max-content;
}
h1{
   background-color: black;
   margin-top: -0.01cm;
   text-align: center;
}
h3,h4{
    text-align: center;
    font-weight: lighter;
    color:rgb(73, 124, 22);
}
#guess{
 width:5cm;
 height:1cm;
 border:1px solid rgb(82, 249, 255);
text-align: center;
background-color:rgb(3, 49, 101);
color:white;font-size: larger;
outline: none;
}
.input{
display: flex;
justify-content: center;
margin-top: 2cm;
}
.btns{
    display: flex;
    justify-content: center;
    margin-top: 1cm;
}
#decision{
    display: flex;
    justify-content: center; 
    margin-top: 1cm;
    color:rgb(0, 255, 251);
}
.rem{
    text-align: center;
    margin-top: 0.9cm;
}
#sq{
background-color: rgb(140, 167, 161);
    display: inline-block;
    color:darkred;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:6vw;border-radius: 10px;
}
span{
    font-size: smaller;
    font-family: monospace;
    letter-spacing: 0.08cm;
    height: 1.4cm;
    display: flex;
    justify-content: center;
    align-items: end;
}
.reset{
    background-color: bisque;
}
